@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #12ac8e;
  --primary-color-dark: #0d846c;
  --primary-color-light: #e9f7f7;
  --secondary-color: #fb923c;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #ffffff;
  --max-width: 1200px;
}

#num{
  color: #C2C2C2; text-decoration: none;
}
/* Placeholder font size */
.form-group input::placeholder, .input_name::placeholder {
  font-size: 15px; /* Sesuaikan ukuran yang diinginkan */
}

textarea::placeholder{
  font-size: 16px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 3rem 3rem;
}

nav{
  position: sticky;
}

.section__header {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: #D88313;
  transition: color 0.3s;
  border: 2px solid #D88313;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  left: 10px;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background-color: #D88313;
  color: #fff;
  font-weight: 600;
  border-color: #D88313;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/background.png");
  background-size: cover; /* Untuk menutupi seluruh area body */
    background-position: center; /* Untuk mengatur posisi gambar pada tengah body */
    background-repeat: no-repeat; /* Untuk mencegah pengulangan gambar pada background */
}

.jdl {
  font-size: 23px;
  color: #fff;
  position: relative;
  left: 10px;
  top: 5px;
  font-weight: 510;
}

.txt {
  color: red;
  font-size: 18px;
  position: relative;
  left: 55px;
  text-align: justify;
  width: 500px;
  margin-top: -20px;
}

#z {
  margin-top: 20px;
}

.gme {
  display: flex;
  margin-top: -20px;
}

header {
  background-image: url("assets/background.png");
  background-position: center center;
  height: 110vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav__container {
  padding: 1rem 1rem;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  width: 110px;
  position: relative;
  left: 20px;
  color: var(--white);
}

.nav__logo span {
  color: var(--secondary-color);
}

.header__container {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.icon {
  width: 40px;
  height: 40px;
}

.header__container h2 {
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 34px;
  position: relative;
  top: -10px;
  text-align: justify;
  width: 600px;
  hyphens: auto;
  color: var(--white);
}

.header__content .db {
  font-size: 24px;
  color: #C68639;
  font-weight: 510;
}

.header__container p {
  margin-bottom: 2rem;
  max-width: 600px;
  color: var(--primary-color-light);
}

.header__form {
  width: 100%;
  max-width: 490px;
}

.header__form form {
  display: grid;
  padding: 1.2rem;
  background-color: #2C2C2C;
  border-radius: 10px;
  margin-left: -30px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.submit {
  width: 100%;
  background-color: #C68639;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15.8px;
  font-weight: 510;
  padding: 10px 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.form-group input {
  padding: 3px;
  width: 210px;
  margin-top: 10px;
  height: 47px;
  margin-bottom: 15px;
  border: 1px solid #626262;
  border-radius: 8px;
  padding: 20px;
  color: #FFFFFF;
  background-color: transparent;
}

textarea {
  width: 100%;
  border: 1px solid #626262;
  border-radius: 8px;
  padding: 13px;
  color: #FFFFFF;
  background-color: transparent;
  height: 110px;
  margin-top: -10px;
}

label {
  color: #FFFFFF;
  font-size: 16.7px;
  font-weight: 500;
}

.input_name {
  margin-top: -10px;
  width: 100%;
  height: 47px;
  border: 1px solid #626262;
  border-radius: 8px;
  padding: 20px;
  color: #FFFFFF;
  background-color: transparent;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__btn {
  background-color: var(--primary-color);
  transition: 0.3s;
}

.form__btn:hover {
  background-color: var(--primary-color-dark);
}

.header__form h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.footer {
  background-color: #262626;
}

.header__content {
  flex: 1;
  margin-top: 0; /* Default margin-top */
}

.footer__container {
  display: grid;
  grid-template-columns: 400px repeat(3, 1fr);
  gap: 2rem;
}

.footer__col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col h3 span {
  color: var(--secondary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.footer__col p {
  margin-bottom: 1rem;
  color: var(--text-dark);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--primary-color);
}

.footer__col i {
  color: var(--primary-color);
}

.footer__bar {
  background-color: #262626;
}

.footer__bar__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer__bar__content p {
  font-size: 0.8rem;
  color: var(--white);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

@media (width < 900px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .about__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__image {
    grid-area: 1/1/2/2;
  }

  .about__content {
    text-align: center;
  }

  .why__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__content {
    text-align: center;
  }

  .why__grid {
    text-align: left;
  }

  .doctors__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 780px) {
  .nav__links {
    display: none;
  }

  .header__container {
    flex-direction: column;
  }
}

@media (width < 600px) {
  .service__header {
    flex-direction: column;
    text-align: center;
  }

  .service__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .why__grid {
    column-gap: 1rem;
  }

  .doctors__header {
    flex-direction: column;
    text-align: center;
  }

  .doctors__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__bar__content {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Media query untuk ukuran layar besar dan full screen */
@media screen and (min-width: 1280px) and (min-height: 800px) {
  header {
    background-image: url(assets/background.png);
    height: 90vh;
  }


}

@media only screen and (max-width: 768px) {
    .btn{
      display: none;
    }
    
   
  
  .header__form{
    margin-left: 30px;
    width: 108%;
    height: 525px;
    margin-top: -60px;
  }

  .nav__logo {
   margin: 0 auto;
   display: flex;
   position: relative;
   left: -20px;
  }

  .header__container{
    margin-top: -10px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Menambahkan jarak antara kelompok formulir */
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Mengizinkan pembungkusan elemen */
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Menambahkan jarak antara kelompok formulir */
    flex: 1 1 100%; /* Mengatur elemen agar menempati sekitar 45% lebar container */
  }
  
  .form-group input {
    width: 107%;
    margin-top: 10px;
    height: 47px;
    margin-bottom: 15px;
    border: 1px solid #626262;
    border-radius: 8px;
    padding: 20px;
    color: #FFFFFF;
    background-color: transparent;
  }

  header{
    background-size: cover;
    height: 175vh;

  }

  .header__container h2 {
    font-size: 24.5px;
    text-align: justify;
    width: 330px;
  }

  .txt{
    text-align: justify;
    width: 280px;
  }

  .txt{
    font-size: 17px;
    line-height: 1.4; /* Sesuaikan dengan nilai yang diinginkan */
  }

  .jdl{
    font-size: 20px;
  }


}

@media screen and (max-width: 1366px) and (min-height:768px) {
  

  .header__content {
    margin-top: 80px; /* Margin top untuk layar kecil */
  }

  .header__form form{
    margin-top: 90px;
  }

  
}
